os: osx
osx_image: xcode10.2
language: node_js
node_js: "10"

env:
  - GH_TOKEN=$GH_TOKEN
  - ELECTRON_CACHE=$HOME/.cache/electron
  - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

# stages:
#   - name: deploy
#     # require the branch name to be master (note for PRs this is the base branch name)
#     if: branch = master

cache:
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

install:
  - npm i

script:
  - echo GH_TOKEN
  - npm run release

after_script:
  # - GH_TOKEN = $GH_TOKEN
  # - git config user.name "lanlan2017"
  # - git config user.email "18251956727@163.com"
  # # 替换同目录下的_config.yml文件中gh_token字符串为travis后台刚才配置的变量，注意此处sed命令用了双引号。单引号无效！
  # - sed -i "s/gh_token/${GH_TOKEN}/g" ./_config.yml
  # - hexo deploy

# before_cache:
#   - rm -rf $HOME/.cache/electron-builder/wine

branches:
  only:
    - master